@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Average');
@import 'typed';

h1{
  font-size: 14px;
  margin: 0px;
}

ul{
  padding-left: 20px;
}

.row{
  margin: 0px;
}

.html{
  font-family: 'Average';
  margin: 0px;
}

.loading{
  background: #ffffff;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.container-fluid{
  padding: 0px;
}

.title{
  font-family: 'Fjalla One';
  font-size: 51px;
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.introduction{
  background-image: url('../images/background.jpeg');
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-family: 'Fjalla One';
  text-align: center;
}

.introduction__name{
  font-size: 57px;
  margin: 0px 0px 10px 0px;
}

.introduction__profession{
  font-size: 57px;
}

.learn-more{
  bottom: 10px;
  font-size: 17px;
  position: absolute;
  width: 100%;
}

.learn-more__text{
  display: block;
}

.stacks__image{
  width: 100%;
}

.works{
  background: #eee;
  padding: 65px 0px;
}

.works__title{
  font-family: 'Fjalla One';
  font-size: 44px;
  margin: 0px 0px 10px 0px;
}

.works__image{
  width: 100%;
}

.works__separator{
  border-top: solid 1px #d6e1e5;
  margin: 65px 0px;
}

.project__item{
  padding-top: 5px;
  position: relative;
  text-align: center;
}

.project__image{
  width: 100%;
}

.project__title{
  background: rgba(94, 145, 201, 0.8);
  color: #ffffff;
  height: 100%;
  font-size: 25px;
  left: 0px;
  line-height: 221px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project__button{
  font-size: 20px;
  margin-top: 20px;
}

.footer{
  background: #2A3A3F;
  color: #ffffff;
  padding: 50px 0px;
  text-align: center;
}

@media screen and (max-width: 768px){
  .stacks, .works, .project{
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .works__image{
    margin: 10px 0px;
  }
}
